<div class="example-container">
  <h2>Buffos galaxia</h2>

  <div
    cdkDropList
    #buffList="cdkDropList"
    [cdkDropListData]="buffitems.getBuffItem()"
    [cdkDropListConnectedTo]="[actualBuffList]"
    class="example-list"
    (cdkDropListDropped)="drop($event, 1)"
  >
    @for (item of buffitems.getBuffItem(); track item) {
      <div
        class="example-box"
        cdkDrag
        [cdkDragData]="item"
        [matTooltip]="item.descripcion"
        matTooltipPosition="left"
        [ngClass]="{ disabled: item.disabled }"
      >
        {{ item.name }}
      </div>
    }
  </div>
</div>

<div class="example-container">
  <h2>buffos activos [max : {{ maxSize }}]</h2>

  <div
    cdkDropList
    #actualBuffList="cdkDropList"
    [cdkDropListData]="actualBuff"
    [cdkDropListConnectedTo]="[buffList]"
    class="example-list"
    (cdkDropListDropped)="drop($event, 2)"
  >
    @for (item of actualBuff; track item) {
      <div
        class="example-box"
        cdkDrag
        [cdkDragData]="item"
        [matTooltip]="item.descripcion"
        matTooltipPosition="right"
      >
        {{ item.name }}
      </div>
    }
  </div>
</div>
