<!-- sidebar -->
<div
  class="user-profile"
  style="background: url(assets/images/background/user-info.jpg) no-repeat"
></div>
<mat-nav-list appAccordion>
  @for (menuItem of menuItems.getMenuItem(); track $index) {
    <mat-list-item appAccordionLink routerLinkActive="selected">
      @if (menuItem.type === "link") {
        <a class="" appAccordionToggle [routerLink]="['/', menuItem.state]">
          <mat-icon>{{ menuItem.icon }}</mat-icon>
          <span>{{ menuItem.name }}</span>
          <span fxFlex></span>
        </a>
      }
    </mat-list-item>
  }
</mat-nav-list>
