<div class="container">
  <mat-card class="example-card">
    <mat-card-header class="example-card-header">
      <mat-card-title>{{ player.username }}</mat-card-title>
      <mat-card-subtitle>alianza matapatos</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p class="example-card-level">Nivel Actual: {{ player.level }}</p>
    </mat-card-content>
    <mat-card-footer class="example-card-footer">
      <mat-form-field class="example-form-field">
        <mat-label>añadir nombre</mat-label>
        <input matInput type="text" [(ngModel)]="name" />
        @if (name) {
        <button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="name = ''"
          class="example-clear-button"
        >
          <mat-icon>close</mat-icon>
        </button>
        }
        <button mat-button (click)="cambiar(name)">cambiar</button>
      </mat-form-field>
    </mat-card-footer>
  </mat-card>
</div>
